<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>POKÉMON • BY TYPE</title>
  <link rel="stylesheet" th:href="@{/pokemon.css}">
  <link rel="stylesheet" href="../static/pokemon.css">
</head>
<body>
<div class="container">

  <header>
    <div class="brand">
      <a th:href="@{/}">
        <div class="pixel-icon" aria-hidden="true"></div>
      </a>
      <div>
        <h1>Type Selector</h1>
        <div class="sub">FILTER BY PRIMARY TYPE</div>
      </div>
    </div>

    <nav>
      <a th:href="@{/fire}">Fire</a>
      <a th:href="@{/type-select}">BY TYPE</a>
    </nav>
  </header>


  <div class="card">
    <div class="row">
      <nav>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Grass')}">GRASS</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Fire')}">FIRE</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Water')}">WATER</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Bug')}">BUG</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Normal')}">NORMAL</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Poison')}">POISON</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Electric')}">ELECTRIC</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Ground')}">GROUND</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Fairy')}">FAIRY</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Fighting')}">FIGHTING</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Psychic')}">PSYCHIC</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Rock')}">ROCK</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Ghost')}">GHOST</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Ice')}">ICE</a>
        <a th:href="@{/pokemon/by-primary-type(primaryType='Dragon')}">DRAGON</a>
      </nav>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <span class="badge">TYPE</span>
      <span class="type"
            th:if="${byType != null}"
            th:text="${byType[0].primaryType}"
      >
          Fire
        </span>

      <span class="badge"
            th:if="${byType != null}"
            th:text="${#lists.size(byType)} + ' FOUND'">
          0 FOUND
        </span>
    </div>

    <table class="table" th:if="${byType != null and !#lists.isEmpty(byType)}">
      <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pokemon : ${byType}">
        <td>
        <a th:href="@{/pokemon/single(id=${pokemon.pokedexNumber})}"
                th:text="${pokemon.pokedexNumber}"></a></td>
        <td>
          <a th:href="@{/pokemon/single(id=${pokemon.pokedexNumber})}"
             th:text="${pokemon.name}">
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <footer class="footer">
    <p>POKÉDEX TERMINAL • TRAINERS WELCOME</p>
    <p class="small">Built with Spring Boot & Thymeleaf</p>
  </footer>

</div>
</body>
</html>